*{
    margin: 0;
}
.header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
}
#logo{
    /* background-color: aqua; */
    width: 40%;
    height: 100%;

}
#logo a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin-left: 90px;
    color: green;
    font-weight: 900;
    letter-spacing: .5mm;
}
#logo a span{
    color: red;
}
.head{
    /* background-color: aquamarine; */
    width: 60%;
    height: 100%;
}
#logo, .head{
    float: left;
}
.head ul{
    padding-top: 15px;
}
.head ul li{
    float: right;
    list-style: none;
    padding-right: 50px;
}
.head ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.head ul li a:hover{
    font-size:18px ;
    font-weight: 900;
    color: red;
}
#vid{
    height: 490px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin-top: 45px;
}
#vidtext,#vid{
    float: left;
}
#vidtext{
    width: 38%;
    color: white;
}
#vidtext h1{
    margin-top: 120px;
    margin-left: 70px;
    font-size: 60px;
}
#vid1{
    margin-left: 570px;
    height: 100%;
    width: 60%;
}
#txt{
    color: green;
}
#txt1{
    color: red;
}
#vidtext button{
    padding: 10px 30px;
    font-size: large;
    font-weight: 700;
    border: 3px solid white;
    margin-left: 100px;
    margin-top: 40px;
    color: green;
    cursor: pointer;
}
#vidtext button i:hover{
    transform: translatex(5px);
}
.content{
    width: 100%;
    height: 250px;
}
.content1, .content2, .content3{
    float: left;
    width: 23%;
    border: 1px solid gray;
    height: 100%;
    margin-left: 8%;
    margin-top: 50px;
    box-shadow: 0px 0px 30px gray;
    border-radius: 3px;
}
.content1 div{
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
}
.content h3{
    margin-top: 15px;
}
.content hr{
    width: 23%;
    margin-top: 7px;
    height: 0;
    border: 0.1px solid red;
}
.content1:hover{
    background-image: linear-gradient(to bottom left,black 0%,gray 100%);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    animation: trans 15s infinite;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);

}
.content1:hover i{
    border: 2px solid white;
}

.content2 div{
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
}
.content2:hover{
    background-image: linear-gradient(to bottom left,black 0%,gray 100%);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    animation: trans 15s infinite;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.content i{
    color: red;
}
.content1 i{
    border: 2px solid red;
    padding: 3px;

}
.content2 i{
    font-size:22px ;
}
.content3 i{
    font-size:22px ;
}
.content3 div{
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
}
.content3:hover{
    background-image: linear-gradient(to bottom left,black 0%,gray 100%);
    color: white;
    border: 1px solid rgb(0, 0, 0);
    animation: trans 15s infinite;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.content p{
    margin-top: 10px;
}
@keyframes trans {
    0%{transform: translateY(0px);}
    10%{transform: translateY(5px);}
    20%{transform: translateY(-5px);}
    30%{transform: translateY(5px);}
    40%{transform: translateY(-5px);}
    50%{transform: translateY(5px);}
    60%{transform: translateY(-5px);}
    70%{transform: translateY(5px);}
    80%{transform: translateY(-5px);}
    90%{transform: translateY(5px);}
    100%{transform: translateY(-5px);}
}
