.navbar {

    background-color: #252424;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.navbar a {

    color: white;
    padding: 5px 25px;
    text-decoration: none !important;
    font-size: large;
}

.navbar a:hover {
    color: bisque;
}

.search {
    border: 1px solid #4b4b4b;
    border-radius: 19px;
    margin-left: 50px;
    height: 25px;
}

.lg {
    background-color: #1877f2;
    border: 1px solid #1877f2;
    border-radius: 9px !important;
    height: 25px;
}

.lg a {
    text-decoration: none;
    color: white !important;
}

.lg:active {
    transform: translateY(2px);
}

.back:hover {
    color: rgb(47, 128, 47) !important;
}

.box {
    margin-top: 110px;
    background-color: rgb(226, 247, 247);
    height: 600px;
    left: 0px;
    right: 0px;
}

.box p b {
    font-size: xx-large;
    color: #302f2f;
}

.box p {
    font-size: large;
    /* font-family: 'Courier New', Courier, monospace; */
    padding: 0px;
}

.box1 {
    background-color: #04316bf6;
}

.box1a {
    height: 450px;
    color: white;
    margin-left: 100px;
    left: 0;
    right: 0;
}

.box2 {
    background-color: #19519fcc;
    text-align: center;
    border: 2px solid #4c8ce6;
    width: 400px;
    border-radius: 10px;
    height: 100px;
}

.box2 i {
    font-size: xx-large;
}

.box2 a {
    color: white;
    text-decoration: none;
}

.box3 {
    background-color: #19519fcc;
    text-align: center;
    border: 2px solid #4c8ce6;
    width: 400px;
    border-radius: 10px;
    height: 100px;
}

.box3 i {
    font-size: xx-large;
}

.box3 a {
    color: white;
    text-decoration: none;
}

.box5 {
    float: right;
    margin-top: -450px;
    margin-right: 100px;
    border: 10px solid rgba(138, 135, 135, 0.701);
    border-radius: 20px;
    background-color: aliceblue;
    color: #4b4b4b;
    padding: 20px;
    /* width: 450px; */
}

.box5 h1 {
    color: #252424;
}

.mail {
    /* float: right; */
    margin-top: -193px;
    margin-left: 350px;
}

.text1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    border: 1px solid #302f2f;
    border-radius: 5px;
    box-shadow: -1px -1px 1px rgb(147 149 151 / 77%), 1px 1px 1px rgb(147 149 151 / 77%);
}

.box5 input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #302f2f;
    box-shadow: -1px -1px 1px rgb(147 149 151 / 77%), 1px 1px 1px rgb(147 149 151 / 77%);
}

.box5 select {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    height: 40px;
    width: 303px;
    border-radius: 5px;
    border: 1px solid #302f2f;
    box-shadow: -1px -1px 1px rgb(147 149 151 / 77%), 1px 1px 1px rgb(147 149 151 / 77%);
}

.box5 label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

.btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    height: 50px;
    width: 655px;
    color: white;
    background-color: #1877f2;
    border: 1px solid #1877f2;
    border-radius: 5px;
}

.btn:active {
    transform: translateY(2px);
}
