body {
    margin: 0px;
    background-color: #1c1e210d;
}

.bodyy {

    margin-top: 70px;
    height: 500px;
}

h1 {
    text-align: center;
    color: #1877f2;
}

.login {
    text-align: center;
    border: 1px solid #2d2d2d23;
    background-color: white;
    width: 400px;
    /* height: 320px; */
    margin-left: 515px;
    border-radius: 6px;
    box-shadow: -1px -1px 1px rgb(147 149 151 / 17%), 1px 1px 1px rgb(147 149 151 / 17%);
}

.login input {
    height: 50px;
    width: 330px;
    font-size: large;
    border-radius: 6px;
    border: 1px solid #2d2d2d30;
}

.btn button {
    height: 50px;
    width: 338px;
    font-size: large;
    background-color: #1877f2;
    color: white;
    border: 1px solid #1877f2;
    border-radius: 6px;
}

.btn button:active {
    transform: translatey(1.5px);
}

.fp {
    text-decoration: none;
}
