#main{
  display: grid;
  justify-content: center;
  place-items: center;
  height: 500px;
  /* background-color: red; */
}
#pf {
  background-image: url(900.png);
  background-repeat: no-repeat;
  /* filter:grayscale(100%); */
  background-size: 100%;
  height: 220px;
  width: 190px;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.436);
  transition: background-size 0.5s ease-in-out;
}
#name {
  margin-left: 5px;
  color: white;
  opacity: 0;
}
#links {
  margin-top: 50px;
}
.hidden {
  opacity: 0;
  display: flex;
  margin-left: 9px;
  margin-top: 4px;
  font-size: 15px;
  color: white;
  pointer-events:painted;
  text-decoration: none;
  width: fit-content;
}
#pf:hover {
  background-size: 230px;
}
#pf:hover #name {
  opacity: 1;
}
#pf:hover .hidden {
  opacity: 1;
  cursor: pointer;
}
#ins:hover{
    color: rgb(202, 43, 234);
}
#you:hover{
    color: rgb(255, 0, 0);
}
#what:hover{
    color: rgb(51, 255, 5);
}
#twi:hover{
    color: rgb(10, 156, 229);
}
#mail{
    font-size: 12px;
}
#mail:hover{
    color: rgb(229, 120, 10);
}
#linked{
    font-size: 13px;
    margin-left: 1px;
}
#linked:hover{
    color: rgb(74, 111, 255);
}
